// theme colors here...

@color : #F7F7F7;

body {
  background-color: #CEE683;
}

.container { background-color: @color;}

.map {
  background-image: url('http://placekitten.com/408/287');
  background-size: cover;
  background-repeat: no-repeat;
}

.about {}

.needs {}

.angular-google-map-container { height: 250px;}

.titlebar {
	background-color: #40B383;
}