// theme colors here...

@color : #F1F2DF;

body {
  background-color: #CCCCCC !important;
}

.container { background-color: @color;}

.info {
	border-radius:10px;
	background-color: #FFFFFF;
}

.below {
	margin-top:10px;
}

.angular-google-map-container { height: 250px;}

.titlebar {
	background-color: #4B5B6E;
}